<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header', { title: 'Admin Dashboard' }) %>
<section class="section">
    <div class="container">
        <h1 class="title">Admin Dashboard</h1>
        <% const page = 'dashboard'; %>
        <%- include('../partials/navbar', { page: page }) %>
        <div class="columns is-centered mt-5">
            <div class="column is-three-quarter">
                <div class="columns is-multiline is-flex is-justify-content-center">
                    <div class="column is-one-quarter">
                        <div class="box has-text-centered">
                            <p class="heading">Total Students</p>
                            <p class="title" id="stat-students"><%= totalStudents %></p>
                        </div>
                    </div>
                    <div class="column is-one-quarter">
                        <div class="box has-text-centered">
                            <p class="heading">Total Modules</p>
                            <p class="title" id="stat-modules"><%= totalModules %></p>
                        </div>
                    </div>
                    <div class="column is-one-quarter">
                        <div class="box has-text-centered">
                            <p class="heading">Staff Users</p>
                            <p class="title" id="stat-staff"><%= staffUsers %></p>
                        </div>
                    </div>
                    <div class="column is-one-quarter">
                        <div class="box has-text-centered">
                            <p class="heading">Total Programmes</p>
                            <p class="title" id="stat-programmes"><%= totalProgrammes %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('../partials/footer') %>