<%- include('../../partials/header', { title: 'Manage Grades', fontAwesome: true }) %>
<section class="section">
    <div class="container">
        <div class="is-flex is-justify-content-space-between is-align-items-center">
            <h1 class="title mb-4">Manage Grades</h1>
            <form action="/admin/grades/upload?_csrf=<%= csrfToken %>" method="post" enctype="multipart/form-data" class="is-flex is-align-items-center">
            <div class="file has-name is-right">
                <label class="file-label">
                <input class="file-input" type="file" name="csvFile" id="gradesCsvFile" accept=".csv">
                <span class="file-cta">
                    <span class="file-icon">
                    <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                    Choose CSV…
                    </span>
                </span>
                <span class="file-name" id="gradesFileName">
                    No file selected
                </span>
                </label>
            </div>
            &nbsp;
            <button class="button is-primary" type="submit">Upload</button>
            </form>
        </div>
        <% const page = 'manageGrades'; %>
        <%- include('../../partials/navbar', { page: page }) %>
        <table class="table is-fullwidth is-striped">
            <thead>
                <tr>
                    <th>Student ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Module</th>
                    <th>First Grade</th>
                    <th>Grade Result</th>
                    <th>Resit Grade</th>
                    <th>Resit Result</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% enrollments.forEach(grade => { %>
                    <tr id="grade-<%= grade.enrollment_id %>">
                        <td><%= grade.Student.sId %></td>
                        <td><%= grade.Student.first_name %></td>
                        <td><%= grade.Student.last_name %></td>
                        <td><%= grade.Module.module_title %></td>
                        <td><%= grade.first_grade %></td>
                        <td><%= grade.grade_result %></td>
                        <td><%= grade.resit_grade %></td>
                        <td><%= grade.resit_result %></td>
                        <td>
                            <form action="/admin/grades/update?_csrf=<%= csrfToken %>" method="post" style="display:inline;">
                                <input type="hidden" name="enrollmentId" value="<%= grade.enrollment_id %>">
                                <input class="input" type="number" name="firstGrade" value="<%= grade.first_grade %>" min="0" max="100" required>
                                <input class="input" type="text" name="gradeResult" value="<%= grade.grade_result %>" required>
                                <input class="input" type="number" name="resitGrade" value="<%= grade.resit_grade %>" min="0" max="100" step="0.01">
                                <input class="input" type="text" name="resitResult" value="<%= grade.resit_result %>">
                                <button class="button is-primary" type="submit">Update</button>
                            </form>
                            <form class="delete-grade-form" data-enrollment-id="<%= grade.enrollment_id %>" action="/admin/grades/delete?_csrf=<%= csrfToken %>" method="post" style="display:inline;">
                                <input type="hidden" name="enrollmentId" value="<%= grade.enrollment_id %>">
                                <button class="button is-danger" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        <%- include('../../partials/page', { totalPages, currentPage }) %>
    </div>
</section>
<script src="/js/grades.js"></script>
<%- include('../../partials/footer') %>